// Variables
$text-logo:'Bangers', cursive;
$text-h1:'Koulen', cursive ;
$text-p:'Roboto', sans-serif ;
$color1:#CDF0EA;
$color2:#F9F9F9;
$colorhover:rgb(250, 244, 183);
$colortwitter:rgb(58, 148, 233);
$colorfacebook:rgb(23, 66, 255);
$coloryoutube:rgb(231, 39, 39);